* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
h2,
p {
  color: var(--main-colour);
}
